/***************************
GENERAL STYLING
****************************/



body {
	margin: 0;
	font-size: 1em;
	font-weight: normal;
	font-family: sans-serif;
	color: #808080;
	background-color: white;
}



/***************************
HEADER
****************************/

#pic {
	width: 100%;
	height: 700px;
}
/*
.logoImage img {
	max-width: 10%;
	max-height: auto;
	/*width: 600px;
	height: auto;*/




.logoImage {
/*	float: left;
*/	display: inline-block;
	height: 400px;
	width: 400px;
	margin-left: 35px;
	margin-bottom: 30px;
}


header {
	max-width: 80%;
	height: auto;
}
/*
.logoImage {
	margin-top: 5px;
	height: 80px;
	width: 500px;
	margin-left: 10%;
	padding-top: 3%;*/
}
.logoImage img {
	max-width: 80%;
	max-height: auto;
}



/***************************
NAVIGATION
****************************/

}

#nav_bar {
	width: 100%;

}

#nav_bar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;

}

#nav_bar li {
	float: right;
	width: 15%;
}


#nav_bar li a {
	display: block;
	color: #808080;
	padding: 20px 20px;
	text-transform: uppercase;
	text-decoration: none;	
}



/***************************
MAIN
****************************/




/***************************
FOOTER
****************************/

footer {
	font-size: 1em;
	text-align: center;
	padding-top: 50px;
	color: #808080;
	padding: 20px 10px;
	background-color: white;
	clear: left;
}



/*.social-icons ul {
	text-align: center;
	margin: 0 auto;
}



.socialImage {
	max-width: 50%%;
	height: auto;
}


.social-icons ul li {
	float: left;
	list-style-type: none;
	text-decoration: none;
	margin-left: 20%;
}
*/
p#copyright {
	clear: both;
}



/*END OF HOME PAGE*/















/***************************
AGENTS
****************************/



#agent-container {
	column-count: 4;
	height: 440pxs;
}



.maincontent {
	font-family: "novecento sans", sans-serif;
	margin-bottom: 70px;
}

.agent-image {
	margin-bottom: 20px;

}

.agent-image img {
	height: 100px;
	width: 100px;
	border: solid;
}




/***************************
PARTNERS - THE FOLLOWING CODE IS CODE THAT ATHENA MODIFIED EVE OF OCT 12.
****************************/



.maincontent-partners {
	text-align: center;
	margin: 3% 0 3% 0%;
	font-family: frontage, sans-serif;

}

.smallCaps {
	font-variant: small-caps;
	letter-spacing: .3em;
	font-family: "novecento sans", sans-serif;
}

#navFont {
	font-family: "novecento sans", sans-serif;
}

footer img {
	max-width: 3%;
	max-height: auto;
}

.logoImage {
	margin-top: 1px;
	height: 80px;
	width: 500px;
	margin-left: 10%;
	padding-top: 2%;
}


#nav_bar li a {
	padding: 0px 5px 20px 0px;
	color: #181818;
}

footer {
	font-size: 1em;
	text-align: center;
	padding-top: 50px;
	color: #808080;
	padding: 20px 10px;
	background-color: #D1B571;
	clear: left;
}

.logoImage img {
	max-width: 80%;
	max-height: auto;
}

#nav_bar li {
	float: right;
	width: 12%;
	text-align: right;
}

#nav_bar {
	width: 100%;
	margin-right: 20px;
}

#nav_bar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
}

.mainImage {
	padding: 0;
	margin: 0;
	bottom-border: solid;
	/*width: 800px;
	height: auto;*/
}

.about {
	display: block;
	text-align: center;
	font-family: "novecento sans", sans-serif;

}

.about img {
	max-width: 100%;
	height: auto;
}


.aboutBlock{
	text-align: center;
	font-family: frontage, sans-serif;
	margin: 7% 0 0 0;
	border-bottom: solid;

}


.about {
	width: 100%;
	padding; 30px 10px 20px 10px;
	margin-left: 8%;
	margin-top: 1%;
	margin-bottom: 7%;
	font-size: 1.25em;
	line-height: -.5px;
}

.about ul {
	list-style-type: none;
	margin: 20px 0 0 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
}

.about li {
	float: left;
	width: 25%;
	margin-left: 62px;
	margin-top; 5%;
	color: #808080;
	text-transform: small-caps;
	text-decoration: none;

}


.about li a {
	display: block;
	color: #808080;
	padding: 0;
	text-transform: uppercase;;
	text-decoration: none;	
	border: solid;
	width: 300px;
	height: 300px;
}
/************************************/
/*NEED TO ADD NAVIGATION COLORS FOR VISITED SITES, HOVER, ETC*/
/***********************************/



/***************************
PROPERTIES

****************************/

.maindiv {
	border: 2px solid gray;
	border-radius: 50px;
	/*border-top-left-radius: 50px;*/
	/*border-top-right-radius: 50px;*/
	box-shadow: 10px 10px 5px #888888;
	display: inline-block;
	width: 40%;
	margin: 20px;
	padding: 40px;
	text-align: center;
	background-color: #D4BC81;
}

#prop1{
	margin-left: 38%;
}
#prop1 h1 {
	font-size: 2.5em;
}

.divimg img {
	width: 300px;
	height: 150px;

}

.sub {
	font-weight: 600;
	font-size: 1.2em;
	margin-top: 5px;
}

.divdescription{
	margin-top: 5px;
	margin-bottom: 5px;
	font-style: italic;

}
.divprice {
	font-weight: 700;
	padding-top: 5px;
}





